.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}


.quitar-cofres{

  background: red;
  color: white;
  padding: 20px;
  font-size: 29px;
  border-radius: 20px;
  border: 1px solid transparent;
  font-weight: 800;
  cursor: pointer;
  z-index: 1;
}